* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

li, img {
  max-width: 500px;
}

.fullSearchArea{
  display: flex;
  box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset, rgb(0 0 0 / 15%) 0px -36px 30px 0px inset, rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;
  border-radius: 35px;
}


.currencyForm {
  flex: 1;
  margin-top: 78px;
  padding: 20px
}

.searchForm {
  flex: 3;
  padding-left: 20px;
  padding-bottom: 30px;
}

.sortAndCurrency{
  padding-right: 40px;
  margin-top: 60px;
}

.currencys {
  flex: 1;
}

.spaceOut {
  margin: 5px;
}

.hidden {
  display: none;
}

/* test */
.random-card-area {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mainPageCard {
  box-shadow: rgb(0 0 0 / 56%) 0px 22px 70px 4px;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.mainPageCardImg {
  max-width: 100%;
  padding-right: 20px;
}

.mainPageCardInfo {
  margin-top: auto;
}