@font-face {
  font-family: 'Beleren-Bold';
  src: url('magicFonts/Beleren2016-Bold.ttf');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* main css changes */

* {
  box-sizing: border-box;
  font-family: 'Beleren-Bold';
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(Images/background.png);
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

/* changes for forms / search areas */

.fullSearchArea{
  display: flex;
  background-color: RGBA(226,226,227,0.75);
  box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset, rgb(0 0 0 / 15%) 0px -36px 30px 0px inset, rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;
  border-radius: 35px;
}


.currencyForm {
  flex: 1;
  margin-top: 78px;
  padding: 20px
}

.searchForm {
  flex: 3;
  padding-left: 20px;
  padding-bottom: 30px;
}

.sortAndCurrency{
  margin-top: 60px;
  padding-right: 20px;
}

.currencys {
  flex: 1;
}

.spaceOut {
  margin: 5px;
}

.hidden {
  display: none;
}

.results {
  color: lightgray;
  display: flexbox;
}

.results h2 {
  color:ivory
}


.random-card-area {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mainPageCard {
  background-color: RGBA(226,226,227,0.75);
  box-shadow: rgb(0 0 0 / 56%) 0px 22px 70px 4px;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 40px;
}

.mainPageCardImg {
  display: flex;
  flex: 1;
  padding-right: 20px;
  width: 80%;
}

.mainPageCardImg img {
  border-radius: 28px;
}

.mainPageCardInfo, p {
  padding-bottom: 20px;
}

.mainPageCardInfo {
  flex-grow: 1;
}

.mainPageExample {
  display: flex;
  box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset, rgb(0 0 0 / 15%) 0px -36px 30px 0px inset, rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;
  border-radius: 35px;
  background-color: RGBA(226,226,227,0.75);
}

.mainPagePretty {
  padding: 20px;
}

#leaveVault {
  margin-top: 20px;
  margin-left: 20px;
}

#enterVault {
  margin: 10px;
}

#updateLooks {
  margin: 10px;
}

/* footer things */

footer {
  padding: 20px;
  width: 100%;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: RGBA(226,226,227,0.75);
  box-shadow: rgba(0, 0, 0, 0.45) 20px 25px 0px -20px;
  border-radius: 35px;
  flex-direction: column;
}

.footer-row {
  display: flex;
  flex-direction: row;
}

.footerImgFade {
  opacity: 1;
  transition: 0.3s;
}
.footerImgFade:hover {
  opacity: 0.6;
}


/* media querys */

@media only screen and (max-width: 500px){
  
  .close-button {
    display: inline-block;
    box-sizing: inherit;
  }
  
  .mainPageCard, img{
    width: 100%;
    display: block
  }
}